<header>
    <div class="header">
        <div class="library en">ngx-table-m3</div>
        <button mat-button (click)="togglePage()">{{ page === 'INDEX' ? 'GROUP' : 'INDEX' }}</button>
        <div [style.flex]="1"></div>
        <div class="icon">
            <mat-icon>{{ colorMode === 'LIGHT' ? 'dark_mode' : 'light_mode' }}</mat-icon>
            <div class="key en">CTRL + SHIFT + ALT + C</div>
        </div>
    </div>
</header>

<content>
    <div class="seperator"></div>
    <div class="content" [class.mobile]="isMobile"><router-outlet /></div>
</content>

@if (isMobile) {
<footer></footer>
}
