// Fonts
@use './theme/fonts/icon/material-icons-outlined.css';
@use './theme/fonts/iran-yekan/iran-yekan.css';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use './theme/material/theme-m3';
@use './theme/material/override';

// Global Styles
html,
body {
    color: var(--on-background);
    background-color: var(--background);
    box-sizing: border-box;
}

* {
    font-family: Yekan;
}

body {
    margin: 0;
}

.en {
    font-size: 13px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Material Styles
.mat-icon {
    font-family: 'Material Icons Outlined';
    font-size: 20px;
    width: auto !important;
    height: auto !important;
}

.cdk-overlay-backdrop {
    background-color: rgba(0, 0, 0, 0.25);
}

body.dark .cdk-overlay-backdrop {
    background-color: rgba(255, 255, 255, 0.25);
}

// NGX-TABLE Style
.ngx-table-loader {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 3rem auto;

    background: radial-gradient(farthest-side, var(--secondary) 94%, #0000) top/5px 5px no-repeat,
        conic-gradient(#0000 30%, var(--secondary));
    mask: radial-gradient(farthest-side, #0000 calc(100% - 5px), #000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 5px), #000 0);
    animation: ngx-table-loader 1s infinite linear;
}
@keyframes ngx-table-loader {
    100% {
        transform: rotate(1turn);
    }
}

.ngx-table-empty {
    padding: 3rem 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--error);
}

.ngx-table-en {
    font-size: 13px;
    font-family: Roboto, 'Helvetica Neue', sans-serif !important;
}

.ngx-table-deactive {
    opacity: 0.6;
    text-decoration: line-through;
}
