// Fonts
@use './theme/fonts/icon/material-icons-outlined.css';
@use './theme/fonts/iran-yekan/iran-yekan.css';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use './theme/material/theme-m3';
@use './theme/material/override';

// NGX
@use '../../node_modules/@webilix/ngx-helper-m3/ngx-helper-m3.css';
@use '../../node_modules/@webilix/ngx-calendar-m3/ngx-calendar-m3.css';

// NGX-TABLE-M3
@use '../../ngx-table-m3/ngx-table-m3.css';

// Global Styles
* {
    font-family: Yekan;
}

html,
body {
    color: var(--on-background);
    background-color: var(--background);
    box-sizing: border-box;
}

body {
    margin: 0;
}

.en {
    font-size: 13px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Material Styles
.mat-icon {
    font-family: 'Material Icons Outlined';
    font-size: 20px;
    width: auto !important;
    height: auto !important;
}

.cdk-overlay-backdrop {
    background-color: rgba(0, 0, 0, 0.25);
}

body.dark .cdk-overlay-backdrop {
    background-color: rgba(255, 255, 255, 0.25);
}

.mat-bottom-sheet-container-medium,
.mat-bottom-sheet-container-large,
.mat-bottom-sheet-container-xlarge {
    min-width: 450px !important;
}
