@use '@angular/material' as mat;

:root,
body.dark {
    @include mat.bottom-sheet-overrides(
        (
            container-shape: 16px,
            container-text-size: 14px,
            container-background-color: var(--surface-container-low),
        )
    );
}
